@font-face {
    font-family: "NanitoSans";
    src: local("NanitoSans-Black"),
      local("NanitoSans-Black"),
      url("NanitoSans-Black.ttf") format("ttf"),
      url("nanitosans-black.woff") format("woff"),
      url("nanitosans-black.woff2") format("woff2"),
    
  }

.wrapper{
    display: grid !important;
    grid-template-columns: repeat(24, 4.166vw);
    grid-template-rows: repeat(24, 4.166vh);
}

.header{
    display: block;
    grid-column: 1/-1;
    grid-row: 1/4;
}

.footer{
    display: block;
    grid-column: 1/-1;
    grid-row: 22/-1;
}

.main{
   display: block;
   margin-top: 3vw;
   margin-left: auto;
   margin-right: auto;
}

.output-text{
    margin-right: 5px;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: "NanitoSans", sans-serif;
    font-weight: 600px;
    font-size: 1.4vw ;
}

.output-text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 100%; /* Adjust this value to fit your desired frame width */
}




.profanity_flag_block{
    padding: 1%;
    font-size: 1.8vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: rgba(134, 6, 194, 0.5);
    font-family: "NanitoSans", sans-serif;
    border-radius: 10px; /* Adjust this value to fit your desired width */
}

.profanity_flag_attention{
    font-family: "Impact", sans-serif;
    font-weight: 600px;
    font-size: 2vw;
}



